<a href="https://colab.research.google.com/github/srtenebros0/python-data-analysis-sales/blob/main/Proyecto_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTAMOS LIBRERIAS Y HARDCODEAMOS LA DATA

In [ ]:
import pandas as pd

data = {
    "vendedor": ["Ana","Luis","Carlos","Maria","Ana","Luis","Carlos","Maria"],
    "ventas": [200,500,150,300,400,250,100,350],
    "mes": ["Enero","Enero","Enero","Enero","Febrero","Febrero","Febrero","Febrero"]
}

df = pd.DataFrame(data)
df

  vendedor  ventas      mes
0      Ana     200    Enero
1     Luis     500    Enero
2   Carlos     150    Enero
3    Maria     300    Enero
4      Ana     400  Febrero
5     Luis     250  Febrero
6   Carlos     100  Febrero
7    Maria     350  Febrero

Miramos la informacion de los campos para saber su tipo de dato

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   vendedor  8 non-null      object
 1   ventas    8 non-null      int64
 2   mes       8 non-null      object
dtypes: int64(1), object(2)
memory usage: 324.0+ bytes

Sacamos el total de ventas, promedio y total de registros

In [29]:
prom_vent = df.groupby("vendedor")["ventas"].agg(["sum","mean","count"])
prom_vent

          sum   mean  count
vendedor
Ana       600  300.0      2
Carlos    250  125.0      2
Luis      750  375.0      2
Maria     650  325.0      2

Creamos funcion de clasificacion de ventas por vendedor

In [ ]:
def TopVentas(ventas):
  if ventas >= 350:
    return "Top"
  if ventas >= 200:
    return "Medio"
  if ventas < 200:
    return "Bajo"

Creamos columna de Categorias y mandamos a llamar la funcion de TopVentas para la clasisficacion.

In [ ]:
df["Categoria"] = df["ventas"].apply(TopVentas)
df

  vendedor  ventas      mes Categoria
0      Ana     200    Enero     Medio
1     Luis     500    Enero       Top
2   Carlos     150    Enero      Bajo
3    Maria     300    Enero     Medio
4      Ana     400  Febrero       Top
5     Luis     250  Febrero     Medio
6   Carlos     100  Febrero      Bajo
7    Maria     350  Febrero       Top

Creamos columna de bonos y asignamos bono a cada vendedor

In [ ]:
df["Bono"] = df["ventas"] * 0.50
df

  vendedor  ventas      mes Categoria   Bono
0      Ana     200    Enero     Medio  100.0
1     Luis     500    Enero       Top  250.0
2   Carlos     150    Enero      Bajo   75.0
3    Maria     300    Enero     Medio  150.0
4      Ana     400  Febrero       Top  200.0
5     Luis     250  Febrero     Medio  125.0
6   Carlos     100  Febrero      Bajo   50.0
7    Maria     350  Febrero       Top  175.0

In [71]:
showBonos= df.sort_values(by="ventas", ascending=False)
showBonos

  vendedor  ventas      mes Categoria   Bono
1     Luis     500    Enero       Top  250.0
4      Ana     400  Febrero       Top  200.0
7    Maria     350  Febrero       Top  175.0
3    Maria     300    Enero     Medio  150.0
5     Luis     250  Febrero     Medio  125.0
0      Ana     200    Enero     Medio  100.0
2   Carlos     150    Enero      Bajo   75.0
6   Carlos     100  Febrero      Bajo   50.0

In [36]:
mejor_vendedor = df.sort_values(by="ventas", ascending=False).iloc[0]
peor_vendedor = df.sort_values(by="ventas", ascending=True).iloc[0]
#print(f"{mejor_vendedor}------{peor_vendedor}")

In [69]:
ventas_por_mes = df.groupby("mes")["ventas"].sum()
mejor_mes = ventas_por_mes.idxmax()
peor_mes = ventas_por_mes.idxmin()

mejor_mes_venta = ventas_por_mes.max()
peor_mes_venta = ventas_por_mes.min()

print(f"{mejor_mes} - {mejor_mes_venta}")
print(f"{peor_mes} - {peor_mes_venta}")

Enero - 1150
Febrero - 1100

In [75]:
print(f"""
Conclusin final del analisis de ventas de los meses de Enero y Febrero : \n
Tenemos a {mejor_vendedor["vendedor"]} destacando en la tabla de ventas con un total de {mejor_vendedor["ventas"]}\n siendo {mejor_vendedor["mes"]} el mes que mas ventas registro.\n
Por el lado contrario tenemos a {peor_vendedor["vendedor"]} con un total de ventas de {peor_vendedor["ventas"]}\n siendo el mes de {peor_vendedor["mes"]} en el que menos ventas registro.\n Por lo que automaticamente {peor_vendedor["vendedor"]} es quien mas necesita apoyo de capacitacion. \n

Como resumen en general, tuvimos el mes de {mejor_mes} con un total de {mejor_mes_venta} de ventas\n y el mes de {peor_mes} con un total de {peor_mes_venta} de ventas.

Se recomienda asignar capacitacion a {peor_vendedor["vendedor"]} para mejorar su rendimiento en la proxima evaluacion bimestral.

A continuacin dejo la tabala completa como respaldo de los datos, donde vienen las ventas y bonos de cada vendedor.

{df}

""")

Conclusin final del analisis de ventas de los meses de Enero y Febrero :

Tenemos a Luis destacando en la tabla de ventas con un total de 500
 siendo Enero el mes que mas ventas registro.

Por el lado contrario tenemos a Carlos con un total de ventas de 100
 siendo el mes de Febrero en el que menos ventas registro.
 Por lo que automaticamente Carlos es quien mas necesita apoyo de capacitacion.


Como resumen en general, tuvimos el mes de Enero con un total de 1150 de ventas
 y el mes de Febrero con un total de 1100 de ventas.

Se recomienda asignar capacitacion a Carlos para mejorar su rendimiento en la proxima evaluacion bimestral.

A continuacin dejo la tabala completa como respaldo de los datos, donde vienen las ventas y bonos de cada vendedor.

  vendedor  ventas      mes Categoria   Bono
1     Luis     500    Enero       Top  250.0
4      Ana     400  Febrero       Top  200.0
7    Maria     350  Febrero       Top  175.0
3    Maria     300    Enero     Medio  150.0
5     Luis     250  Febrero     Medio  125.0
0      Ana     200    Enero     Medio  100.0
2   Carlos     150    Enero      Bajo   75.0
6   Carlos     100  Febrero      Bajo   50.0